{% extends 'base.html' %}

{% block content %}

<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <style>
            ul {
                list-style-type: none;
                margin: 20;
                padding: 0;
                overflow: hidden;
                background-color: rgb(225, 163, 163);
                padding: 14px 16px;
            }
            li {
              display: inline;
            }

            li a {
            text-decoration: none;
            }

            </style>
        <ul class="navbar-nav">
          <li class="nav-item">
            <span class="navbar-brand" href="#">Pantun</span>
        
            <a style="float: right;"  class="nav-link"  href="{% url 'wishlist:logout' %}" >logout</a>
          </li>
        </ul>
    </div>
</nav>

<table>
    <tr>
    <th>Nama Barang</th>
    <th>Harga Barang</th>
    <th>Deskripsi</th>
    </tr>
    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
    {% for barang in list_barang %}
    <tr>
        <th>{{barang.nama_barang}}</th>
        <th>{{barang.harga_barang}}</th>
        <th>{{barang.deskripsi}}</th>
    </tr>
{% endfor %}
</table>
<h5>Sesi terakhir login: {{ last_login }}</h5>

{% endblock %}